.cover__link {
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(0,0,0,0.3);
    transition: background-color 0.4s linear;
    margin: 92px auto 0;
}

.cover__link:hover {
    background-color: rgba(0, 0, 0, .8);
    transition: background-color 0.4s linear;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        height: 62.5vw;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        margin: 64px auto 0;
    }
}