.page {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    background: #2A2C2F;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    padding-bottom: 24px;
}
