@import url(./__item/photo-grid__item.css);

.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px 16px;
    justify-content: center;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        width: calc((928/1024)*100%);
        margin: 0 auto 88px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        width: calc((720/768)*100%);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        width: calc((288/320)*100%);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px 16px;
        margin: 0 auto 64px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        display: block;
    }
}