.places {
    max-width: 1003px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) {
    .places {
        width: calc((928/1024)*100%);
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        width: calc((720/768)*100%);
    }
}

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
        margin: 0 auto 64px;
    }
}