.places__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    box-sizing: border-box;
    padding-right: 20px;
    margin: 0;
    align-self: end;
}

@media screen and (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 767px) {
    .places__title {
        width: calc((288/320)*100%);
        font-size: 32px;
        line-height: 1.09;
        margin: 0 auto 32px;
    }
}