.photo-grid__item {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .photo-grid__item {
        margin: 0 auto 12px;
    }

    .photo-grid__item:last-child {
        margin: 0;
    }
}
