@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__link/_lang/header__link_lang_ru.css);

.header {
    max-width: 1184px;
    margin: 0 auto;
    padding: 28px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1279px) {
    .header {
        width: calc((928/1024)*100%);
        margin: 0 auto;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc((720/768)*100%);
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: calc((288/320)*100%);
    }
}