.header__link {
    color: #fff;
    font-size: 24px;
    line-height: 1.17;
    font-weight: normal;
    font-style: normal;
    margin-right: 18px;
    text-decoration-line: underline;
}

.header__link:last-child {
    margin-right: 0;
    text-decoration-line: none;
}

@media screen and (max-width: 680px) {
    .header__link {
        font-size: 18px;
        line-height: 1.33;
    }
}
