.footer__link {
    font-size: 16px;
    line-height: 1.12;
    color: #fff;
    text-decoration: none;
    margin-right: 18px;
}

@media screen and (max-width: 680px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;        
    }

}