@import url(./__overlay/cover__overlay.css);
@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    max-width: 1184px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1023px) {
    .cover {
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin: 0 auto 64px;
    }
}