@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1184px;
    height: 740px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .cover {
        height: 62.5vw;
    }
}