.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1184px;
    height: 740px;
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        height: 62.5vw;
    }
}
