.places__item {
    display: grid; 
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    grid-gap: 58px 40px;
    justify-content: center;
    margin: 0 auto 80px;
}

.places__item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .places__item {
        grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .places__item {
        grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
        grid-gap: 48px 28px;
        margin: 0 auto 72px;
    }
}

@media screen and (max-width: 767px) {
    .places__item {
        display: block;
        margin: 0 auto 48px;
    }
}